

<div class="bg-white  h-screen">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 ">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">You have also purchased</h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <% @rented.each do |have| %>

      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
            <% if have.itemphoto.attached?%>
            <%= image_tag have.itemphoto %>
            <%end %>
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <div >
                <span aria-hidden="true" class="absolute inset-0"></span>
               <%= have.name%>
              </div>
            </h3>
            <p class="mt-1 text-sm text-gray-500"><%= have.details%></p>
          </div>
          <p class="text-sm font-medium text-gray-900"><%= have.price%></p>
            <%= button_to "returned", delete_path(id=have.id),:method => 'delete' %>
        </div>
       
      </div>

    <%end %>
    </div>
    
  </div>
</div>







