

<div class=" w-screen min-h-screen h-auto flex flex-row justify-start">





<div class="flex flex-col  w-1/4 justify-between p-2">
    <div>
<div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="relative mx-4 mt-4 h-48 bg-clip-border text-gray-700 shadow-lg aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7 ">
    <% if @user.profile.profilepic.attached? %>
   <%= image_tag @user.profile.profilepic %>
   <% end %>

  </div>
  <div class="p-6 text-center">
    <h4 class="mb-2 block font-sans text-2xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      <%= @user.profile.name%>
    </h4>
   
  </div>
  
</div>
<p class="text-lg m-2 p-2 text-start font-medium font-sans "><%= @user.profile.about %></p>
</div>
<div class="flex flex-col gap-4 ">
<div class="rounded-lg bg-blue-400 hover:bg-blue-500 p-4 mx-4"><%= link_to "New Item" , new_path %></div>
<div class=" rounded-lg  bg-blue-400 hover:bg-blue-500 p-4 mx-4"><%= link_to "Edit profile",root_path%></div>
<div class=" rounded-lg  bg-blue-400 hover:bg-blue-500 p-4 mx-4"><%= link_to "rented",rented_path%></div>
</div>

</div>




<div class="bg-white  w-3/4   h-screen ">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 h-full">
    <h2 class="sr-only">Products</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      

      
                <% @cards.each do |rent|  %>
                <div >
                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                        <% if rent.itemphoto.attached? %>
                        <%= image_tag rent.itemphoto %>
                        <% end %>
                    </div>
                <h3 class="mt-4 text-sm text-gray-700"><%= rent.name %></h3>
                <p ><% if rent.sold %>
                                                    <div class="bg-blue-600 text-white text-xs font-medium mr-2 px-2.5 py-0.5 w-1/3 rounded-full">Sold</div>
                                                    <% elsif rent.approval == true %>
                                                        <div class="bg-red-600 text-white text-sm font-medium mr-2 px-2.5 py-0.5 rounded ">Pending</div>
                                                    <% else %>
                                                        <div class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">Not Rented</div>
                                                                        <%end%></p>

                <%= link_to "view" , itempage_path(id=rent.id)%>
                </div>
                <%end%>

      <!-- More products... -->
    </div>
  </div></div>





  </div>
