<%=form_with url: regis_path, method: :post  do |form|  %>

    <div class="field">
    <%=form.label :name%>
    <%=form.text_field :name %>

    </div>

    <div class="field">
    <%=form.label :email%>
    <%=form.text_field :email %>
    
    </div>

    <div class="field">
    <%=form.label :pass%>
    <%=form.text_field :pass %>
    
    </div>

    <div class="actions">
        <%= form.submit %>
      </div>

<%end%>
